*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
	width: 100%;
}

/* classes padroes */

.container{
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	padding: 0 2%;
}

.clear{
	clear: both;
}

.overlay-loading{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.6);
	display: none;
}

.alert{
	display: none;
	text-align: center !important;
	width: 100%;
	max-width: 450px !important;
	position: absolute !important;
	top: 0 !important;
	left: 50% !important;
	transform: translateX(-50%);
}

.overlay-loading img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	width: 16px;
	height: 16px;
}

.alert[pag=contato]{
	display: none;
	width: 100%;
	max-width: 450px !important;
	position: absolute !important;
	top: 0 !important;
	left: 50% !important;
	transform: translateX(-50%);
	z-index: 999;
}

header{
	background-color: #111;
	padding:20px 0;
}

.logo{
	position: absolute;
	top: -15px;
	float: left;
	width: 100px;
	height:100px;
	background-image: url('../images/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

nav.mobile > i{
	display: none;
	float: right;
	font-size: 28px;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 5;
}

nav.mobile ul{
	position: relative;
	z-index: 5;
	padding: 10px 0;
	display: none;
	background-color: #111;
	left: 0;
	top: 68px;
	position: absolute;
	width: 100%;
}

nav.mobile ul li{
	list-style-type: none;
	display: block;
	text-align: center;
	padding: 10px 0;
}

nav.mobile a{
	text-decoration: none;
	color: #f49242;
	font-size: 18px;
	transition: 0.3s all;
}

nav.mobile a:hover{
	color: #fff;
}

nav.desktop{
	float: right;
}

nav.desktop ul{
	list-style-type: none;
}	

nav.desktop ul li{
	float: left;
	padding:0 20px;
	margin-top: 0;
}

nav.desktop a{
	text-transform: uppercase;
	text-decoration: none;
	color: #f49242;
	font-size: 18px;
	transition: 0.3s all;
}

nav.desktop a:hover{
	color: #fff;
}

section.banner-container{
	min-height: 600px;
	text-align: center;
	padding: 20px;
	position: relative;
	z-index: 0;
}

div.single-banner{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
}


section.banner-container .banner-email{
	display: block;
	margin: 100px auto;
	position: relative;
	z-index: 3;
}

.banner-email form{
	padding:10px;
}

form h2{
	margin-bottom: 10px;
	color: #f49242;
	font-weight: normal;
	font-size: 36px;
}

form input[type=email]{
	display: block;
	max-width: 400px;
	width: 100%;
	height: 40px;
	margin: 0 auto;
	padding-left: 8px;
	border:1px solid #111;
	border-radius: 10px;
}

form input[type=submit]{
	display: block;
	max-width: 250px;
	width: 100%;
	height: 40px;
	margin: 10px auto;
	text-align: center;
	border-radius: 20px;
	border:1px solid #111;
	cursor: pointer;
	color: white;
	font-size: 18px;
	background-color: #f48c42;
}

form input:focus{
	outline: 0;
}

.descricao-autor{
	padding: 20px 0;
}

.descricao-autor .container{
	max-width: 1080px;
}

.descricao-texto{
	float: left;
	width: 50%;
	padding: 0 20px;
	margin-top: 50px;
}

.descricao-texto p{
	line-height: 28px;
	color: #111;
	font-size: 17px;
}

.descricao-texto h2{
	margin-bottom:20px;
	font-weight: normal;
}

.descricao-imagem{
	float: left;
	width: 50%;
}

.descricao-imagem img{
	width: 90%;
}

section.especialidades{
	padding: 40px 0;
	background-color: #eee;
}

section.especialidades h2{
	margin-bottom: 40px;
}	

.title{
	text-align: center;
	font-weight: normal;
	font-size: 32px;
}

.box-especialidades{
	text-align: center;
	float: left;
	width: 33.3%;
	padding: 0 30px;
}

.box-especialidades h3{
	text-align: center;
	margin-bottom: 5px;
}

.box-especialidades h2{
	text-align: center;
	font-size: 48px;
	color: red;
}

section.extras{
	padding: 40px 0;
	background-color: #f48c42;
}

section.extras h2{
	text-align: left;
	color: rgb(230,230,230);
	margin-bottom: 20px;
}

.depoimentos{
	float: left;
	width: 50%;
	padding: 0 20px;
	color: rgb(230,230,230);
}

.depoimentos-single p{
	color: rgb(230,230,230) !important;
}

.servicos{
	float: right;
	width: 50%;
	padding: 0 50px;
	color: rgb(230,230,230);
	font-weight: lighter;
}

.depoimentos-single{
	padding: 20px 0;
	border-bottom:1px solid rgba(230,230,230,0.3);
	font-weight: lighter;
}

.nome-autor{
	margin:10px 0;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.servicos ul li{
	padding: 20px 0;
	list-style-position: inside;
	font-weight: 300;
}

footer{
	padding: 20px;
	text-align: center;
	background-color: #f48341;
}

footer p{
	position: relative;
	top: 8px;
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}

section.erro{
	min-height: 900px;	
}

section.contato{
}

section.contato .container{
	max-width: 960px;
}

section.contato .contato-title{
	padding: 40px 0;
	text-align: center;
}

.contato-line{
	width:90%;
	background-color: #ccc;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

section.contato .contato-title h2{
	font-weight: 300;
	color:#f48341;
	font-size: 28px;
}

section.contato input[type=text]{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	margin: 5px 0;
	border-radius: 20px;
	border: 1px solid #f48341;
	outline: none;
}

section.contato textarea{
	width: 100%;
	height: 100px;
	resize: none;
	padding: 10px;
	border: 1px solid #f48341;
	border-radius: 20px;
	margin: 10px 0;
}

section.contato input,textarea:focus{
	outline: 0;
}

section.contato input[type=submit]{
	border: none;
}

section.mapa{
	margin-top: 30px;
}

#map{
	height: 400px;
}

.bullets{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
}

.bullets span{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #444;
	margin: 0 10px;
	transition: background-color 0.5s;
}

.bullets span.active-slider{
	background-color: white;
	transition: background-color 0.5s;
}

.section-noticias{
	width: 100%;
	background-color:#333864;
	padding:40px 0; 
	color: white;
}

.header-noticias h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 24px;
	color: white;
}

.header-noticias h2 > b{
	color: #F40B5C;
}

.header-noticias h2:nth-of-type(1){
	font-size: 42px;
	color: #F40B5C;
	margin-bottom: 15px;
}

section.container-portal{
	padding: 50px 0;
}

.container-portal > .container{
	max-width: 1480px;
}


.box-content-sidebar{
	background-color: rgba(210,210,210,0.5);
	padding: 40px 20px;
	color: #333864;
	border-radius: 10px;
	margin-bottom: 50px;
}

.box-content-sidebar h3{
	font-size: 20px;
	font-weight: normal;

}

.box-content-sidebar h3 > i{
	margin-left: 10px;
}

.sidebar{
	float: left;
	width: 30%;
}

.box-content-sidebar form input[type=text]{
	width: 100%;
	font-size: 16px;
	padding-left: 20px;
	height: 50px;
	border: 1px solid rgb(220,220,220);
	margin: 10px 0;
}

.box-content-sidebar form select{
	width: 100%;
	padding-left: 20px;
	height: 50px;
	border: 1px solid rgb(220,220,220);
	margin: 10px 0;
}

.box-content-sidebar form input[type=submit]{
	cursor: pointer;
	background-color: #f40b5c;
	color: white;
	border: 0;
	border-radius: 0;
	width: 50%;
	height: 45px;
	display: block;
	margin: 10px 0;
}

.autor-box-portal{
	margin-top: 15px;
	text-align: center;
}

.box-img-autor{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
	margin: 20px 0;
	display: inline-block;
}

.texto-autor-portal > h3,p{
	color: #646464;
}

.texto-autor-portal p{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 8px;
}

.conteudo-portal{
	float: right;
	width: 70%;
	padding: 5px 4%;
}

.header-conteudo-portal{
	color: #333864;
}

.header-conteudo-portal h2{
	font-size: 23px;
	font-weight: bold;
}

.header-conteudo-portal h2 > span{
	border-top: 4px solid #333864;
}

.box-single-conteudo{
	margin: 15px 0;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
}

.box-single-conteudo h2{
	color: #F40B5C;
	font-weight: bold;
	font-size: 22px;
}

.box-single-conteudo p{
	color: #646464;
	font-weight: normal;
	font-size: 15px;
	margin-top: 8px;
}

.box-single-conteudo a{
	width: 100%;
	max-width: 130px;
	background-color: #00b95c;
	display: block;
	padding:0 3px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin-top: 8px;
}

.box-single-conteudo a:hover{
	text-decoration: none;
	color: white;
}	

/* noticia single style */

section.noticia-single{
	padding: 40px 0;
	color: #646464;
	min-height: 800px;
}

.noticia-single-img{
	margin: 0 auto;
	max-width: 720px;
	width: 100%;
}

.noticia-single-img img{
	width: 100%;
	display: block;
}

.header-noticia h1{
	font-size: 35px;
	margin-bottom: 50px;
}

section.noticia-single article{
	margin-top: 15px;
}

section.noticia-single article ul{
	list-style-position: inside;
	margin: 10px 0;
}

section.noticia-single h2,h3,h4{
	margin: 10px 0;
}

section.noticia-single p{
	margin: 10px 0;
}

section.noticia-single article img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
/* design responsivo */

@media screen and (max-width: 992px){

	.box-content-sidebar h3{
		font-size: 16px;
	}

	.box-content-sidebar h3 > i{
		margin-left: 3px;
	}

	.box-content-sidebar form input[type=text]{
		font-size: 14px;
		padding-left: 8px;
	}

	.box-content-sidebar form input[type=submit]{
		font-size: 16px;
		height: 35px;
	}

	.box-img-autor{
		width: 120px;
		height: 120px;
		margin: 20px 0;
		display: inline-block;
	}
}

.paginator a{
	display: inline-block;
	margin: 0 8px;
	color: black;
	padding: 8px 16px;
	font-size: 18px;
	background-color: rgba(210,210,210,0.5);
}

.paginator a:hover{
	text-decoration:none;
	color: black;
}

.active-page{
	background-color: #ccc;
}

@media screen and (max-width: 1024px){

	nav.desktop ul li{
		float: left;
		padding:0 10px;
		margin-top: 0;
	}

	nav.desktop a{
		font-size: 16px;
		transition: 0.3s all;
	}
}

@media screen and (max-width: 768px){
	nav.desktop{
		display: none;
	}

	.menu-logo{
		display: block;
	}

	nav.mobile > i{
		display: block;		
	}

	form h2{
		margin-bottom: 10px;
		color: #f49242;
		font-weight: normal;
		font-size: 32px;
	}

	.descricao-texto{
		float: none;
		width: 100%;
		padding:20px 40px;
		margin-top: 20px;
	}

	.descricao-texto p{
		line-height: 28px;
		color: #111;
	}

	.descricao-texto h2{
		margin-bottom:20px;
		font-weight: normal;
	}

	.descricao-imagem{
		float: none;
		width: 90%;
		margin: 0 auto;
	}

	.descricao-imagem img{
		width: 100%;
	}


	.box-especialidades{
		text-align: center;
		float: none;
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid #ccc;
		margin-top: 10px;
	}

	.box-especialidades h3{
		text-align: center;
		margin-bottom: 5px;
	}

	.box-especialidades h2{
		text-align: center;
		font-size: 48px;
		color: red;
	}

	.depoimentos{
		float: none;
		width: 100%;
	}

	.servicos{
		float: none;
		width: 100%;
		padding: 0 10px;
	}
	.box-content-sidebar{
		margin-bottom: 30px;
	}

	.box-content-sidebar h3{
		font-size: 20px;
	}

	.sidebar{
		float: none;
		width: 100%;
		text-align: center;
	}

	.box-content-sidebar form input[type=text]{
		font-size: 16px;
		padding-left: 20px;
		height: 50px;
	}

	.box-content-sidebar form input[type=submit]{
		cursor: pointer;
		display: block;
		width: 100%;
		height: 45px;
		min-width: 100%;
	}

	.box-img-autor{
		width: 160px;
		height: 160px;
	}

	.texto-autor-portal p{
		font-size: 16px;
	}

	.conteudo-portal{
		float: none;
		width: 100%;
		padding: 5px 2%;
	}

	.box-single-conteudo{
		padding: 20px 0;
	}
	section.noticia-single{
		width: 100%;
	}

	.noticia-single-img{
		width: 100%;
	}

	.noticia-single-img img{
		width: 100%;
		display: block;
	}

	.header-noticia h1{
		font-size: 30px;
		margin-bottom: 30px;
	}

	section.noticia-single article{
		width: 100%;
	}

	section.noticia-single p,h2,h3,h4,h5,h6{
		margin: 10px 0;
		width: 100%;
		font-size: 16px !important;
	}

	section.noticia-single article img{
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

@media screen and (max-width: 560px){
	form h2{
		margin-bottom: 10px;
		color: #f49242;
		font-weight: normal;
		font-size: 28px;
	}
	.header-conteudo-portal h2{
		font-size: 21px;
		font-weight: bold;
	}

.header-conteudo-portal h2 > span{
	border-top: 4px solid #333864;
}
}