
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html,body{
	height: 100%;
}

body{
	background-color: #efebe9;
	overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
{
    -webkit-box-shadow: 0 0 0 30px #fafafa inset;
}

.sucesso{
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #66bb6a;
	color: white;
	line-height: 40px;
	font-size: 18px;
	font-weight: 300;
}

.sucesso i{
	color: white !important;
	margin: 0 5px !important;
}

.erro i{
	color: white !important;
	margin: 0 5px !important;
}

.erro{
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #bf360c;
	color: white;
	line-height: 40px;
	font-size: 18px;
	font-weight: 300;
}


/* Painel de controle */

.clear{
	clear: both;
}

.container{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2%;
}


header{
	position: relative;
	left: 300px;
	padding: 10px 0;
	background-color:#3F729B;
	width: calc(100% - 300px);
}

header .container{
	width: 100%;
	max-width: none;
}

.loggout{
	position: relative;
	top: 4px;
	float: right;
	font-size:20px;
}

.loggout > a{
	text-decoration: none;
}

.loggout > a > i{
	color:#263238;
}

.loggout > a > span{
	font-size: 18px;
	color: white;
	margin-left: 5px;
}

.menu-btn{
	float: left;
}

.menu-btn i{
	font-size: 28px;
	color:#263238;
	cursor: pointer;
}

aside{
	overflow-y: auto;
	position: fixed;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	background-color: #1C2331;
	padding:20px 0;
}

div.box-usuario{
	text-align: center;
}

div.box-usuario > .avatar-usuario{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 3px solid #1565c0;
	display: inline-block;
	position: relative;
}

.avatar-usuario i{
	font-size: 50px;
	color:#1565c0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.imagem-usuario{
	border: 3px solid #263238;
	width: 130px;
	height: 130px;
	display: inline-block;
	border-radius: 50%;
}

.imagem-usuario img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.nome-usuario{
	text-align: center;
	margin-top: 15px;
}

.nome-usuario p{
	color: white;
	font-size: 16px;
	font-weight: normal;
	margin-top: 2px;
}

/* conteudo principal do painel */


.content{
	width: calc(100% - 300px);
	position: relative;
	left: 300px;
	padding: 10px;
}

.box-content{
	width: 100%;
	padding: 10px;
	margin-bottom: 25px;
	background-color: white;
}

.box-content h2{
	width: 100%;
	margin-bottom: 10px;
	font-weight: 20px;
	color: #000;
	font-weight: normal;
}

.box-content-wraper{
	padding: 20px;
}

.box-content i{
	margin: 0 5px;
	font-size: 22px;
	color: #0d47a1;
}


.w100{
	width: 100%;
}

.w50{
	width: 49%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.itens-menu{
	padding: 40px 0;
}

.itens-menu h2{
	color: white;
	font-size: 18px;
	font-weight: normal;
	background-color:#1a237e;
	padding: 10px 8px;
}

.itens-menu a{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 16px;
	padding: 12px 8px;
	font-weight: normal;
	border-bottom: 1px solid #3f51b5;
	transition: 0.5s;
}

.itens-menu i{
	margin: 0 5px;
	display: none;
	transition: display 1s;
}

.itens-menu a:hover{
	background-color: #283593;
}

.box-metricas{
	flex-wrap: wrap;
	display: flex;
	padding: 20px;
}

.box-metricas h2{
	width: 100%;
	margin-bottom: 10px;
	font-weight: 20px;
	color: #000;
	font-weight: normal;
}

.box-metricas i{
	margin: 0 5px;
	font-size: 22px;
	color: #0d47a1;
}

.box-metricas-single{
	padding: 40px;
	background-color: red;
	width: 33.33%;
	border: 10px solid white;
}

.box-metricas-single:nth-of-type(1){
	background-color:#ff8f00;
}
.box-metricas-single:nth-of-type(2){
	background-color:#ff5252;
}
.box-metricas-single:nth-of-type(3){
	background-color:#42a5f5;
}

.box-metricas-single-wraper h2{
	font-weight: 300;
	color: white;
	font-size: 25px;
}

.box-metricas-single-wraper p{
	font-weight: 300;
	color: white;
	font-size: 25px;
}

.menu-home{
	float: right;
	margin-right: 40px;
	position: relative;
	top: 4px;
}

.menu-home i{
	color: #263238;
	font-size: 20px;
	margin: 0 5px;
}

.menu-home a{
	color: white;
	text-decoration: none;
	font-weight: 300;
}

.table-responsive{
	margin: 0 auto;
	width: 100%;
	min-width: 600px;
}

.wraper-table{
	overflow-x: auto;
}

.row{
	width: 100%;
	display: flex;
	border-bottom: 1px solid #bbb;
	flex-wrap: nowrap;
	padding: 8px;
	color: rgb(90,90,90);
	background-color: rgb(245,245,245);
}

.row:nth-of-type(1){
	font-weight: bold;
	background-color: #2196f3;
	color: white;
}

.col{
	max-height: 60px;
	overflow-y: auto;
	padding: 0 5px;
}

.col-2{
	width: 50%;
}

.col-3{
	width: 33.3%;
}

.col-4{
	width: 22%;
}

.col-x{
	width: 6%;	
}

.form-editar-usuario form{
	margin: 30px 0;
}


.form-editar-usuario form label{
	font-size: 19px;
	font-weight: 300;
	color: black;
	display: block;
	margin:5px 0;
}

.form-group{
	margin: 15px 0;
}

.box-content form textarea{
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	resize: none;
}

.box-content form select{
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	height: 40px;
}


.form-editar-usuario form input[type=text],
.form-editar-usuario form input[type=password]
{
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 40px;
	padding-left: 8px;
	border: 1px solid #ccc;
}

select[name=cargo]{
	font-size: 16px;
	font-weight: normal;
	color: black;
	width: 100%;
	height: 40px;
	padding-left: 8px;
	border: 1px solid #ccc;
}
}
.form-editar-usuario form input[type=file]{
	margin-top: 2px;
	border: 1px solid #ccc;
}

.form-editar-usuario form input[type=submit]{
	display: inline-block;
	max-width: 250px;
	width: 100%;
	height: 40px;
	border: 1px solid #
	padding-left: 8px;
	cursor: pointer;
	margin: 10px 0;
	background-color:#2962ff;
	text-align: center;
	line-height: 40px;
	border: none;
	font-weight: bold;
	color: white;
	border-radius: 50px;
}

.form-editar-usuario form input[type=submit]:focus{
	outline: none;
}

.menu-active{
	background-color:#3f51b5;
}

.menu-active i{
	display: inline-block;
}

.icon-tabel a{
	display: inline-block;
	background-color:#388e3c;
	text-decoration: none;
	color: white;
	text-align: center;
	width: 130px;
	height: 30px;
	line-height: 30px;
	border-radius: 20px;
}

.icon-tabel a > i{
	color: white;
	font-size: 15px;
}

.pagination{
	width: 100%;
	text-align: center;
	padding: 8px;
	margin-top: 15px;
}

.pagination > a{
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 16px;
	padding: 10px;
	border: 1px solid #ccc;
	margin: 0 6px;
}

.page-active{
	background-color: rgba(230,230,230,0.6);
}

@media screen and (max-width: 768px){
	aside{
		width: 0;
		padding: 0;
		display: none;
	}

	header{
		position: relative;
		left: 0;
		width: 100%;
	}

	.content{
		width: 100%;
		position: relative;
		left:0;
	}

	.box-metricas-single{
		padding: 40px;
		width: 100%;
		border: 10px solid white;
	}

	

}


@media screen and (max-width: 580px){

	.box-metricas{
		padding: 20px 0;
	}

	.box-metricas-single-wraper h2{
		font-size: 20px;
	}

	.box-metricas-single-wraper p{
		font-size: 20px;
	}

	.row{
		font-size: 12px;
	}
	.col{
		width: 50%;
		padding: 0 2px;
	}

}


@media screen and (max-width: 480px){

	.row{
		font-size: 10px;
	}
	.col{
		width: 50%;
		padding: 0 2px;
	}
	.loggout{
		position: relative;
		top: 6px;
		float: right;
		font-size:14px;
	}

	.loggout > a > span{
		font-size: 14px;
		color: white;
		margin-left: 5px;
		font-weight: 300;
	}

	.menu-btn i{
		font-size: 24px;
	}

	.menu-home{
		float: right;
		margin-right: 20px;
		position: relative;
		top: 4px;
	}

	.menu-home i{
		color: #263238;
		font-size: 14px;
		margin: 0 5px;
	}

	.menu-home a{
		font-size: 14px;
	}
	.form-editar-usuario form input[type=submit]{
		display: inline-block;
		width: 200px;
		height: 40px;
		padding-left: 8px;
	}
}